@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
body {
}
.container {
  width: 100%;
  background: #fff;
  min-height: 100vh;
  padding-inline: 1em;
}

.contentSec {
  padding: 1.87em 0 2em;
}
.logo img {
  width: 15rem;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.title {
  font-size: 1.67em;
  font-weight: 600;
  color: #101010;
  line-height: 1.7em;
  display: flex;
}

.subText {
  font-size: 0.98em;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  padding: 0em 0 0;
}
.loginSec {
  width: 100%;
  max-width: 400px;
  height: 100%;
  min-height: 326px;
  background: #fff;
  border-radius: 1em;
}
label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.9899em;
}
form {
  margin-top: 0;
}
.formInput {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100%;
  max-width: 22rem;
  min-height: 50px;
  border-bottom: 2px solid #898787;
  margin-bottom: 1.3em;
}
.formInput:focus,
.formInput:focus-visible,
.formInput:focus-within {
  border-bottom: 2px solid orange;
}
.formInput i {
  font-size: 1.2em;
  color: #898787;
  margin-right: 0.6em;
}
form input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
}

form input::placeholder {
  color: #b3b0b0;
}
button {
  width: 100%;
  height: 100%;
  min-height: 3.5rem;
  border-radius: 2em;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  background: orange;
  color: #fff;
  margin-top: 4em;
}

.fp {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(211, 17, 17);
  display: flex;
  justify-content: end;
}

.dontHveAcc {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}

.dontHveAcc b {
  color: orange;
  margin-left: 0.3em;
}
